* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;

}

h1 {
    font-size: 40px;
    font-weight: 900;
    color: #091C00;
}

h2 {
    font-size: 36px;
    color: #091C00;
}

h4 {
    font-weight: 600;
}

p {
    font-size: 14px;
    color: #5F5F5F;
}

a {
    list-style: none;
    text-decoration: none;
    color: #091C00 !important;
    font-size: 15px;
    transition: .5s;
}

a:hover {
    list-style: none;
    text-decoration: none;
    color: #091C00;
}

ul li {
    color: #091C00;

}

img {
    width: 100%;
}

.btn-arrow {
    width: 20px;
}

.globle-btn button {
    background-color: #4AD906;
    border: none;
    border-radius: 100px;
    padding: .7rem 1.5rem;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #FFF;
    box-shadow: 0px 10px 20px 0px rgba(38, 50, 56, 0.20)
}

.wrapper {
    max-width: 1400px;
    margin: auto;
    padding-left: 2rem;
    padding-right: 2rem;
}

.gap-1 {
    gap: .5rem;
}

.fs-16 {
    font-size: 16px;
    color: #091C00;
}

.semi-bold {
    font-size: 22px;
    font-weight: 600;
}

.logohere {
    width: 120px;
}

.gap-2 {
    gap: 1.5rem;
}

.gap-4 {
    gap: 3rem;
}

.addcart a img {
    width: 14px;
    margin-left: 10px;
}

.myaccount-logo {
    width: 22px;
}

.myaccount-logo-1 {
    width: 15px;
    margin-right: 10px;
}

.navbar-expand-lg {
    padding: 0;
}

.globle-header {
    padding: 20px 0;
    border-bottom: 1px solid #EBE7F4;
}

.card-1 {
    background-color: #FFF;
    padding: 50px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.10);
    border-radius: 6px;
    height: 350px;
}

.card-1 img {
    width: 50px;
}

h6 {

    font-size: 16px;
    font-weight: 700;
}

.card-1 button {
    border: none;
    background-color: transparent;
    font-size: 14px;

}

.sapce-header {
    gap: .5rem;
}

.parent-div {
    position: relative;
    z-index: 1;
}

.background-green-trophy img {
    width: 30%;
    position: absolute;
    top: -40%;
    z-index: -1;
}

.background-green-trophy-2 img {
    width: 30%;
    position: absolute;
    top: 120%;
    z-index: -1;
}

.you-profile {
    width: 100%;
}

.sun-bg img {
    width: 30%;
    position: absolute;
    top: -60%;
    right: 0;
    z-index: -1;
}

.sun-bg-1 img {
    width: 30%;
    position: absolute;
    top: -200%;
    right: 0;
    z-index: -1;
}

.section-2 {
    margin-top: 4rem;

}

.text-white {
    color: #FFF;
}

.text-green {
    color: #3EB905;
}

.footer-bg {
    background-image: url("/assests/images/footer-background.svg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 5rem;
}

.footer-socials-icons {
    width: 35px;
    display: flex;
    align-items: center;
    gap: .5rem;
}

.footer-logo {
    width: 150px;
}

.footer-bg p {
    color: #FFF;
}

.heart-red {
    width: 40px;
}

.banner {
    background-color: #FFF;
    box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.10);
    border-radius: 20px;
    position: relative;
    padding: 4rem 2rem;
}

.small-kid {
    position: absolute;
    top: -8rem;
}

.small-kid img {
    width: 600px;
}

.section-4 {
    padding-top: 10rem;
}

.input-group-text {
    background-color: #4AD906;
    border: none;
    color: #FFF;
    padding: 1rem;
}

.rounded-pill input {
    padding-left: 1rem;
}

.on-before {
    position: relative;
}

.on-before::before {
    content: '';
    width: 18px;
    height: 3px;
    border-radius: 100px;
    background-color: #FF7F56;
    position: absolute;
    left: -1.8rem;
    top: 5px;

}

.center-card-adjust {
    height: 200px;
}

.center-card-bootom {
    display: flex;
    align-items: end;
}

.seventy-top {
    position: relative;
}

.seventy-top::before {
    background-image: url('../images/green-arrow-top.svg');
    background-repeat: no-repeat;
    position: absolute;
    width: 100px;
    height: 100px;
    right: -6rem;
    content: '';
}

.fifty-bottom {
    position: relative;
}

.fifty-bottom::before {
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;
    background-image: url('../images/green-arrow-bottom.svg');
    background-repeat: no-repeat;
    bottom: -3rem;
    right: 10rem;
}

.right-girl {
    position: absolute;
    width: 650px;
    top: 100px;
    left: -100px;
}

.fs-21 {
    font-size: 20px;
}

.boy-bottom {
    position: absolute;
    width: 650px;
    right: 0;
}

.about-bg {
    background-image: url("../images/about-sec-1-bg.svg");
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 5rem;

}

.home-bg {
    background-image: url("../images/home-banner-background.svg");
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 15rem;
}

.about-button button {
    background-color: transparent;
    border: 1px solid #F4A259;
    border-radius: 100px;
    padding: 5px 22px;
}

.white-bg {
    background-color: #FFF;
    padding: 37px 42px 68px 42px;
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.10);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 300px;
}

.white-bg img {
    width: 30%;
}

.above-red-line {
    position: relative;
}

.above-red-line::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 3px;
    background-color: #F4A259;
    border-radius: 100px;
    top: -10px;

}

.text-grape {
    color: #96BB7C;
    font-weight: 600;
}

.slider-card {
    background-color: #FFF;
    box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.10);
    padding: 2rem 2rem;
}

.profile-name p {
    margin: 0;
    margin-left: 10px;
}

.profile-pic img {
    width: 30px;
    height: 30px;
    border-radius: 100%;
}

.rating-star {
    width: 100%;
    justify-content: center;
}

.rating-star img {
    width: 10%;
}

.center {
    display: flex;
    gap: 2rem;
}

.purple-icon-img img {
    width: 11% !important;
}

.purple-icon-img {
    gap: 1rem;
}

.socails-cards {
    border-radius: 6px;
    background-color: #FFF;
    box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.10);
    padding-bottom: 1rem;
}

.socails-cards img {
    /* width: 250px; */
    border-radius: 30px 30px 0 0;
}

.white-bg-profile {
    background-color: #FFF;
}

.slick-prev:before,
.slick-next:before {
    color: #FF7F56 !important;
}

.suelist-button .slick-prev {
    position: absolute !important;
    top: 100%;
    left: 48%;
}

.suelist-button .slick-next {
    position: absolute !important;
    top: 100%;
    left: 50%;
}

.center-button .slick-prev {
    position: absolute;
    top: 90%;
    left: -5rem;
}

.center-button .slick-next {
    position: absolute;
    position: absolute;
    left: -3rem;
    top: 90%;
}

.dashboard-btn .slick-prev {
    position: absolute;
    top: 110%;
    left: 47%;
}

.dashboard-btn .slick-next {
    position: absolute;
    top: 110%;
    left: 50%;
}

.fw-small {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.50);
    font-weight: 600;
}

.profile-section-main {
    background-color: #FFF;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.15);



}

.top-green {
    height: 90px;
    background: linear-gradient(268deg, #4AD906 -1.49%, #3AB700 117.24%);
    border-radius: 100%;
    position: relative;
    top: -2.5rem;
    width: 120%;
    display: flex;
    justify-content: center;
    left: -5rem;
}

.bottom-green {
    display: flex;
    justify-content: center;
    width: 120%;
    height: 90px;
    background: linear-gradient(268deg, #4AD906 -1.49%, #3AB700 117.24%);
    border-radius: 100%;
    position: relative;
    left: -4rem;
    bottom: -1.5rem;
}

.text-black {
    color: #000;
}

.lesson-missied {
    background: rgba(255, 83, 100, 0.15);
    padding: 5px;
    border-radius: 6px;
}

.lesson-missied p {
    color: red;
    font-size: 12px;
}

.todo-line {
    width: 100%;
    height: 8px;
    border-radius: 50px;
    background-color: #D9D9D9;
}

.complete-line {
    width: 75%;
    height: 8px;
    border-radius: 50px 50px 50px 50px;
    background-color: #F4A259;
}

.percentage-card {
    background-color: #FFF;
    padding: 20px 10px;
    border-radius: 20px;
}

.book-banner-bg {
    background-image: url("../images/book-banner-bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;

    padding-bottom: 1rem;
}

.books-images {
    width: 100%;
}

.pop-text {
    top: 45px;
    left: 50%;
    transform: translateX(-50%);
}

.see-more {
    top: 25px;
}

.products-background {
    background-color: #FFF;
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
}

.products-green {
    border-radius: 30px 30px;
}

.products-green-2 {
    border-radius: 0 0 30px 30px;
}

.active-2 {
    position: relative;

}

.active-2::after {
    content: '';
    width: 70px;
    position: absolute;
    border-radius: 30px;
    height: 5px;
    left: 0;
    top: 22px;
    background-color: #6E3DD6;
}

.search-section {
    width: 100%;
    display: flex;
}

.search-section input {
    width: 100%;
    border-radius: 30px;
    padding: 10px 20px;
    position: relative;
    background-color: #F9F9F9;
    border: #E6E6E6 1px solid;
}

input:focus-visible {
    outline: 0;
    border: none;
    border: #E6E6E6 1px solid;
}

.search-section button {
    /* border-radius: 0 30px 30px 0; */
    border: none;
    position: absolute;
    left: 37%;
    /* bottom: 0; */
    padding: 10px 20px;
    background-color: transparent;
}

.sort-by select {
    border-radius: 30px;
    padding: 10px 20px;
    position: relative;
    background-color: #F9F9F9;
    border: #E6E6E6 1px solid;
}

.sort-by select:focus {
    border-color: #F9F9F9;
    box-shadow: none;
}

.white-bg-product {
    background-color: #FFF;
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
}

.pagination-arrow img {
    width: 20px;
}

@media (max-width:999px) {
    .pop-text {
        top: 25px;
        left: 50%;
        transform: translateX(-50%);
    }

    .see-more {
        top: 15px;
    }

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 25px;
    }

    button {
        font-size: 11px;
    }

    .home-bg {
        background-size: contain;
        padding-bottom: 2rem;
    }

    .right-girl {
        position: unset;
        width: 400px;
        display: none;
    }

    .boy-bottom {
        width: 400px;
        position: unset;
        display: none;
    }

    .mobile-res {
        align-items: start !important;
    }

    .kid-home {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .kid-home img {
        width: 500px;
    }

    .arrow-tck img {
        width: 20px;
        margin-left: .5rem;
    }

    .cards {
        margin-bottom: 3rem;
    }

    .small-kid {
        display: none;
    }

    .footer-bg {
        background-color: #3EB905;
        background-image: none;
    }
}

@media (max-width:400px) {
    .book-banner-bg {
        background-size: 100% 60%;
    }
    .pop-text{
        top: 6%;
        font-size: 14px;
    }
    .search-section button{
        left: 77%;
    }
    .dashboard-btn .slick-prev {
        position: absolute;
        top: 110%;
        left: 45%;
    }

    .dashboard-btn .slick-next {
        position: absolute;
        top: 110%;
        left: 52%;
    }

    .you-profile {
        width: 300px !important;
    }

    .fs-9 {
        font-size: 9px;
    }

    .heart-red {
        width: 20px;
    }

    h1 {
        font-size: 30px;
    }

    .background-green-trophy img {
        width: 100%;
        position: absolute;
        top: -5%;
        z-index: -1;
    }

    .sun-bg img {
        width: 100%;
        position: absolute;
        top: -60%;
        right: 0;
        z-index: -1;
    }

    .seventy-top::before {
        right: -7rem;
    }

    .fifty-bottom::before {
        right: 5rem;
    }

    .kid-home img {
        width: 250px !important;
    }
}